/* Navbar Styles */
.navbar {
    background-color: #171821;
    color: white;
    padding: 10px 0;
   
}

.nav-container {
    width: 85%;
  
    display: flex;
    justify-content: space-between;
    align-items: center;   
    margin: auto;
    padding: 0 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    background: linear-gradient(45deg, #a134fb, #ff8c00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-links {
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    list-style: none;
   
    width: 45%;

}


.nav-item {
    display: flex;
    align-items: center;
    gap: 10px;
   
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    font-size: 1.2rem;
    padding: 5px;
    font-weight: lighter;
    color:white;
}

.nav-item svg{
    display: flex;
    align-items: center;
    font-size: 1rem;
}



.nav-item:hover {
    transform: scale(1.1);
    color: white;
    border-bottom: 1px solid white;
    /* font-weight: bold; */
}

/* Mobile Styles */
.menu-btn {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #222;
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }

  

    .nav-links.open {
        display: flex;
    }

    .menu-btn {
        display: block;
    }
}
