.posters {
    /* width: 100%; */
 /* border: 2px solid red; */
    padding: 10px;
    display: flex;
    background-color:#171821;
}

.poster {
 
    display: flex;
    position: relative;
    width: 100%;
}

.title-image {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}

.decrement {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-5%, -50%);
    font-size: 1.4rem;
    color:white;
}

.increment {
    font-size: 1.4rem;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(-5%, -50%);
    color:white;
}

.animation svg {
    
    width: 30rem !important;
    background-color: #171821;
    animation: slideInRight 0.8s ease-in-out;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* 🔥 Animations */
@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Default: Hide h1, p, and button before animation */
.title h1, .title p, .title .btn {
    opacity: 0;
}

/* Apply animation only when .animate class is added */
.title.animate h1 {
    width: 100%;
    font-size: 2.8rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(90deg, #aa5de9, #C134FA, #5318EB); /* Gradient Colors */
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;  
    font-weight: bold;
    animation: slideInLeft 0.8s ease-in-out forwards;
}

.title.animate p {

    color: white;
    margin-bottom: 20px;
    width: 90%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
    line-height: 2rem;
    animation: slideInLeft 0.8s ease-in-out 0.2s forwards;
}

.title.animate .btn {
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-top: 30px;
    border: none;
    border-radius: 20px;
    background-color: #A134FB;
    font-size: 1.3rem;
    color: white;
    padding: 10px;
    width: 30%;
    cursor: pointer;
    animation: slideInLeft 0.8s ease-in-out 0.4s forwards;
    transition:transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    
}

.movingarrow {
   
    position: absolute;
    right: 5%;
    bottom: 11%;
    /* border: 1px solid #A134FB ; */
    display: flex;
    font-size: 2rem;
    transform: translateX(0px) rotate(0deg);
    opacity: 1;
    transition: transform 0.25s ease-in-out, opacity 0.3s ease-in-out;
}



.btn:hover{
    .movingarrow svg{
        background-color:#FF3F86;
      
        border-radius: 100%;
    }
}
.title.animate .btn:hover .movingarrow {
    transform: translateX(5px) rotate(40deg); /* Move arrow to the right */
    opacity: 1;

   
}








