/* 
------------------------
about us css

 */


.top{
    background-color: black;
    color: white;
}

.width{
    margin: auto;
    width: 85%;
}

.sub-top{
    align-items: center;       
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.content-section-aboutus{
    
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.heading{
    font-size: 2em;
    font-weight: 700;
}

.paragraph{
    font-size: 1.2em;
    font-weight: 600;
}



.learnmore-btn button{
    
    width: 30%;
    font-size: 20px;
    font-weight: 700;
    padding: 5px;
    border-radius: 2px;
    background-color: #23DF75;
}

/* our mission */

.our-mission{
    display: flex;
    border: 1px solid #23DF75;
    border-radius: 20px;
    padding: 2%;
}
.content{
   
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.heading-mid{
    font-size: 2em;
    font-weight: 700;
    text-align: center;

}

.paragraph-mid{
    
    text-align: justify;
    word-break: break-all;
    font-size: 1.1em;
}
.mission-img{
 
    padding: 10px;
    
}

.mission-img img{
    width: 60%;
    margin: auto;
   
}

.mission-img img{
    width: 60%;
    margin: auto;

}

.our-vision{
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: row-reverse;  
    border: 1px solid #23DF75;
    border-radius: 20px;
    padding: 2%;
}

.our-vision_img{
    padding: 10px;
}





/* our principle */

.principles-card{

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 50px;
}

.simple{
 margin-top: 5%;
  border: 1px solid #23DF75;
  padding: 10%;
  border-radius: 10px;
 
}

.simple ul li{
    font-size: 1.2rem;
    font-weight: 700;
    display: flex;
    gap: 10px;
    align-items: center;
} 

.icon-about-us{
    font-size: 2rem;
}

.simple-text{
    margin-top: 5%;
    text-align: justify;
    word-break: break-all;
}

/* our team */

.our-team{
    
    margin-top: 10%;
}

.our-team-cards{
    padding: 5% 0%;
    width: 85%;
    margin:auto ;
    border-radius: 15px;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.avatar-icon-team{
    display: flex;
    justify-content: space-between;
   
}


.main-card{
    border-radius: 10px;
    
    background-color: white;
    padding: 10px;
}

.linkdine-icon{
    font-size: 2rem;
    color: green;
   
}

.team-name{
    
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.name h1{
    margin-top: 30px;
    color: green;
    font-size: 1em;
    font-weight: 700;
}

.name p{
   color: rgb(114, 111, 111);

}

.post{
    color: rgb(114, 111, 111);

font-weight: 600;

}

/* expert connection */
.connect-with-expert{
    border: 1px solid green;
     border-radius: 10px;
    width: 96%;
    margin: auto;
    padding: 20px;
    /* padding-top: 15%;
    padding-bottom: 15%; */
    display: grid;
    grid-template-columns: 20% 60% 20%;
}
.margin{
    
    padding-top: 10%;
    padding-bottom: 15%;
}
.contect-with-expert-left{
   
    display: flex;
    justify-content: center;
}
.contect-with-expert-left img{  
        width: 80%;
    
    background-color: aliceblue;
    border-radius: 10px;
}


.connect-with-expert-mid{
 
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;

}

.content-connect-heading{
    font-size: 2rem;
    font-weight: 700;
}

.content-connect-para{
    font-size: 1rem;
   width: 60%;
   margin: auto;
}

.content-connect-button{
    
    width: 30%;
    font-size: 1.2rem;
    padding: 6px;
    border-radius: 10px;
    margin: auto;
    background-color: green;
}


.connect-with-expert-right{
    position: relative;
    text-align: center;
    display: flex;  
    justify-content: center;  
    width: 80%;

}


.top-right-image{
    
    position: absolute;
    width: 80%;
   
    display: flex;
    justify-content: center;
    
    z-index: 5;
    
}

.top-right-image img{
   border-radius: 10px;
    width: 100%; 
  
}

.bottom-right-image{
    display: flex;
    justify-content: center;
    padding: 2%;
  
    border-radius: 20px;
    position: absolute;
    top: 30%;
    right:80%;
    width: 70%;
}

.bottom-right-image img{
    width: 100%;
    border-radius: 10px;
}

/* 
--------------------------------
our portfoliyo section start css 
---------------------------------
*/
.width-our-portfolio{

    background-color: black;
}

.our-portfoliyo-top{
    padding-top: 5%;
    padding-bottom: 5%;
    color:white;    
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}
.our-portfoliyo-top h1{
    font-size: 2rem;
    font-weight: 700;
}
.our-portfoliyo-top p{
    margin-top: 10px;
    font-size: 1.1rem;
    text-align: justify;
    word-break: break-all;
    font-weight: 600;
}
.image-our-portfolio{
   
    border: 2px solid black;
    display: flex;
    
    width: 100%;
}




.main-cards-portfoliyo{    
    
    background-color: black; 
   
}
.our-product-heading-text{
    width: 85%;
    margin-top: 10%;
    margin-left: 10%;
    background-color:black;
    color :aliceblue;
    
}
.our-product-heading-text h1{
    font-size: 2rem;
    font-weight: 700;
}
.our-product-heading-text p{

    width: 70%;
    margin-top: 10px;
    font-size: 1.1rem;
    font-size: 600;
    text-align: justify;
    word-break: break-all;
}
.our-ptoject-cards-first{   
    display:flex ;
    flex-direction: row-reverse;
    padding: 10px;
    gap: 20px;
    
}

.our-ptoject-cards-second{
    
    margin-top: 10px;
   
    display: flex;
    padding: 10px;
    gap: 20px;
}

.our-ptoject-cards-third{
  
    flex-direction: row-reverse;
    margin-top: 10px;
    display: flex;
    padding: 10px;
    gap: 20px;
}

/* 
--------------------------------
contact us css start
--------------------------------


*/
.contact-top{
    padding-bottom: 8%;
}
.poster-contact-us{
    padding: 10px;
    
    display: flex;
    gap: 4%;
    justify-content: space-between;
}
.content-contact-us{
    width: 42%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact-us-contant{
    margin-top: 15%;
    border-radius: 10px;
    padding: 15px;
    border: 1px solid #23DF75;
     justify-content: space-between;
    display: flex;
    gap: 4%;
}

.heading-contactus{
    font-size: 2em;
    font-weight: 700;
}
.para-contactus{  
    font-weight: 600;
}

.animation-contact-us{   
    width: 53%;
}


.left-content-contact-us{
    justify-content: center;
    gap: 20px;
    display: flex;
    flex-direction: column;  
    width: 45%;
}

.para p{
    text-align: justify;
    word-break: break-all;
}


.form-right-contact-us{
    width: 45%;
}

.form-contact-us{
    background-color: white;
    padding: 20px;
   border-radius: 10px;
    
}

.form-contact-us input,select,textarea{
    border: 1px solid black; 
    margin-bottom: 20px;
    border-radius: 10px; 
    width: 100%;
    padding: 15px;
    color: black;
    
}

.form-contact-us button{
    color: white;
    padding: 10px;
    border-radius: 10px;
    background-color: #23DF75;
    width: 30%;
    border-radius: 20px;
}

.responsive-map {
    position: relative;
    overflow: hidden;
    height: auto;
    padding-bottom: 27.25%; 
    height: 0;
  }
  
  .responsive-map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    border: 0;
  }


  /* our service page starts */

  .services-top{
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    gap: 100px;
  }



  .sub-card-out-service{
   border: 1px solid white;
    padding: 3% 1%;
   
    width: 95%;
    margin: auto;
  
    display: flex;
    justify-content: space-between;
  
  }
 
.image-service{
    display: flex;   
    align-items: center;
  
    position: relative;
    height:200px;
    width: 30%;
}
  
.images-s{
    position: absolute;
   
    width: 100%;

}

.heading-our-service{
  
    text-align: center;
    width: 50%;
    margin:5% auto
    
}
.heading-our-service h1{
    font-size: 2rem;
}

.content-our-service{
    justify-content: space-between;
 
    width: 50%;
    display: flex;
}
.title-our-service{

    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  
   
}

.title-our-service .heading-title{
    font-size: 1.4rem;
    font-weight: 700;

}
.title-our-service .para-title{
    font-size: 1.2rem;
    font-weight: 600;
}

.para-our-service{
    
    text-align: justify;
    word-break: break-all;
    padding: 2px;
    width: 45%;
    display: flex;    
    align-items: center;
}

.arrow-main{
   
    width: 10%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg-araow{
    position: absolute;
    font-size: 2rem;
    
}

.sub-card-out-service:hover .svg-araow{
   
    color: #23DF75;   
    animation:right-side-in 0.6s ease-in-out forwards;

}
.sub-card-out-service:not(:hover) .svg-araow{
    animation: right-side-out 0.6s ease-in-out forwards;
}



@keyframes right-side-in {
    from{
        transform: translateX(0);

    }
    to{
        transform: translateX(-20px);
    }
}

@keyframes right-side-out {

    from{
        transform: translateX(-20px);
    }

    to{
        transform: translateX(0px);

    }
    
}


.sub-card-out-service:hover .images-s{
   
    animation: side-in-left 0.6s  ease-in-out forwards ;
    
}

.sub-card-out-service:not(:hover) .images-s{
    animation: side-in-right 0.6s ease-in-out forwards;
}

@keyframes side-in-left {
    from{
        left: 0%;
    }
    to{
        left: 5%;
    }
    
}

@keyframes  side-in-right {
    from{
        left: 5%;
    }
    to{
        left: 0%;
    }
    
}



